// Small devices (tablets, 576px and up)
@media (min-width: 576px) {
  .px-7 {
    padding-left: $spacer;
    padding-right: $spacer;
  }
  .display-7 {
    font-size: $display7-md;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .px-7 {
    padding-left: $spacer-5;
    padding-right: $spacer-5;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .px-7 {
    padding-left: $spacer-7;
    padding-right: $spacer-7;
  }
  .display-7 {
    font-size: $display-7;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}
